.bg-danger {
    background-color: #d9534f !important;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.btn-danger:hover {
    background-color: #c9302c;
    border-color: #c9302c;
}

.card {
    border: none;
}

.text-primary {
    color: #007bff !important;
}

.text-primary:hover {
    color: #0056b3 !important;
}

.card-header-danger {
    background-color: #dc3545;
    color: white;
    border-bottom: 5px solid #0d6efd;
}
.contact-list a {
    transition: color 0.2s;
}
.contact-list a:hover {
    color: #004d99 !important;
    text-decoration: underline;
}
